@model WebApplication1.Models.Entity.TBLKATEGORILER 
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>URUN AD</label>
        <input type="text" class="form-control" name="URUNAD"required, maxlength="30" />
        <label>MARKA</label>
        <input type="text" class="form-control" name="MARKA"required />

        <label>URUN KATEGORI</label>
        <input type="text" class="form-control" name="URUNKATEGORI" />

        <label>FIYAT</label>
        <input type="text" class="form-control" name="FIYAT" />

        <label>STOK</label>
        <input type="text" class="form-control" name="STOK" />



    </div>


    <div>
        <button class="btn btn-info">Ekle</button>
    </div>


</form>

